<div class="container-fluid">
  <br>
  <fieldset class="form-group offset-sm-1" style="border: 2px solid #050e14; padding-bottom: 2%; border-radius:30px;">
    <legend align="center" class="col-sm-5 col-md-5">Editar Prato</legend>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="container" id="needs-validation" novalidate>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom03">Prato:</label>
          <input type="text" class="form-control" id="validationCustom03" name="nome" [(ngModel)]="prato.nome" required placeholder="Novo Nome do Prato">
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationCustom04">Preço:</label>
          <input type="text" style="width:350px" class="form-control" id="validationCustom04" name="preco" [(ngModel)]="prato.preco" required placeholder=" Novo Preço do Prato">
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Atualizar Prato</button>
    </form>
  </fieldset>
</div>