fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}

th, td{
    text-align: center;
}

.glyphicon{color:rgb(0, 98, 190)}

.glyphicon-minus{color:rgba(255, 0, 0, 0.856)}

.glyphicon-cutlery{color:rgba(0, 255, 21, 0.856)}